.body{
    background: rgb(131, 222, 245);
    
}
.h1{
 
 cursor: pointer;
 margin-right: 200px;
 margin-left: 200px;

}

.h2{
    background: greenyellow;
    margin-left: 100px;
    margin-right: 1000px;
}
.img{
    text-align: center;
    display: inline;
}
.img:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 10px 10px 15px greenyellow;
}

.img2:hover{
    transform: scale(1.3);
    cursor: pointer;
box-shadow: 10px 10px 15px greenyellow;}
.botao{
    
}
.botao:hover{
    background: greenyellow;
    transform: scale(1.1);
    cursor: pointer;
}
.img2:hover{
transform: scale(1.3);
box-shadow: 10px 10px 15px;
}

.Encomendar{

background: greenyellow;
border-radius: 1px;
}
.Encomendar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.Botoes{
    text-decoration: none;
    text-align: center;
    background: greenyellow;
    width: 60px;
padding: 20px;
border-radius: 5px;
}
.Botoes:hover{
    transform: scale(1.5);
}
